NODE_ENV=development

PORT=4000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=hotspot_management_v2
DATABASE_USER=postgres
DATABASE_PASSWORD=

MIKROTIK_HOST=
MIKROTIK_PORT=8728
MIKROTIK_USER=
MIKROTIK_PASSWORD=

JWT_SECRET=